<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/user/busses/searchbus.css">


    <div class="container">

        <div class="content-container">
            <div class="search-container col-md-8">
                <h1 >Search Bus</h1>
                <form action="/user/searchBus" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control" id="from" name="from" required>
                                <option value="" selected>Departure Terminal</option>

                                <%bus_from.forEach(function(bus) { %>
                                    <option value="<%=bus%>">
                                        <%=bus %>
                                    </option>
                                    <% }) %>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <select class="form-control" id="to" name="to" required>
                                <option value="" selected>Arrival Terminal</option>
                                <% bus_to.forEach(function(bus) { %>
                                    <option value="<%= bus %>">
                                        <%= bus %>
                                    </option>
                                    <% }) %>
                            </select>

                        </div>
                        <div class="col-md-4">
                         
                            <select class="form-control" id="date" name="date" required>
                                <option value="" selected>Departure Time</option>
                                <% dates.forEach(function(date) { %>
                                    <option value="<%= date %>">
                                        <%=date %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Find Bus</button>
                </form>
            </div>

            <% if (Busses.length) { %>
                <div class="result-container col-md-12">
                    <h1 class="text-center fs-3 font-weight-bold">Busses Found</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th >From</th>
                                <th>To</th>
                                <th>Time</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (b of Busses) { %>
                                <tr>
                                    <td>
                                        <%= b.from %>
                                    </td>
                                    <td>
                                        <%= b.to %>
                                    </td>
                                    <td>
                                        <%= b.time %>
                                    </td>
                                    <td>
                                        <%= b.date %>
                                    </td>
                                    <td><a href="/user/bookseat/<%= b._id %>" class="btn btn-primary">Book Seats</a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <% } %>
        </div>
    </div>